/* ==========================================
   Reactor Animation
========================================== */

@keyframes reactorRotate{

    from{

        translate:-50% -50%;
        rotate:0deg;

    }

    to{

        translate:-50% -50%;
        rotate:360deg;

    }

}

@keyframes reactorGlow{

    0%,100%{

        opacity:.35;

        filter:
            drop-shadow(0 0 6px #00d9ff)
            drop-shadow(0 0 15px #00d9ff);

    }

    50%{

        opacity:1;

        filter:
            drop-shadow(0 0 18px #00d9ff)
            drop-shadow(0 0 35px #00d9ff)
            drop-shadow(0 0 60px #00d9ff);

    }

}
@keyframes energySpin{

    from{

        rotate:0deg;

    }

    to{

        rotate:360deg;

    }

}
@keyframes energyRotate{

    from{

        transform:rotate(0deg);

    }

    to{

        transform:rotate(360deg);

    }

}
