.energy{

    position:absolute;
    inset:0;

    border-radius:50%;

    pointer-events:none;

    filter:
        blur(.8px)
        drop-shadow(0 0 6px #00dfff)
        drop-shadow(0 0 14px #00dfff);

    animation-name:energyRotate;
    animation-timing-function:linear;
    animation-iteration-count:infinite;

}
.e1{

    background:
        conic-gradient(
            transparent 0deg,
            transparent 8deg,
            rgba(255,255,255,.95) 11deg,
            rgba(0,220,255,1) 18deg,
            transparent 26deg,
            transparent 360deg
        );

    animation-duration:1.8s;

}

.e2{

    background:
        conic-gradient(
            transparent 55deg,
            rgba(255,255,255,.9) 60deg,
            rgba(0,220,255,.95) 71deg,
            transparent 82deg
        );

    animation-duration:2.5s;
    animation-direction:reverse;

}

.e3{

    background:
        conic-gradient(
            transparent 150deg,
            rgba(255,255,255,.8) 158deg,
            rgba(0,220,255,.9) 176deg,
            transparent 192deg
        );

    animation-duration:3.1s;

}

.e4{

    background:
        conic-gradient(
            transparent 245deg,
            rgba(255,255,255,.85) 252deg,
            rgba(0,220,255,.9) 266deg,
            transparent 282deg
        );

    animation-duration:4.4s;
    animation-direction:reverse;

}

.e5{

    background:
        conic-gradient(
            transparent 315deg,
            rgba(255,255,255,.95) 320deg,
            rgba(0,220,255,1) 336deg,
            transparent 352deg
        );

    animation-duration:2.9s;

}
