/* ==========================================================
   lightning.css
   ----------------------------------------------------------
   役割：
   ・Lightning（放電・火花）の見た目管理

   ※配置のみ管理
   ※Animationは禁止
   ========================================================== */


/* ========================================
   Sparks
======================================== */

.sparks {

    position: absolute;

    top: 50%;

    left: 50%;

    width: 100%;

    height: 100%;

    transform:
        translate(-50%, -50%);

    opacity: 0;

}
