/* ==========================================================
   pulse.css
   ----------------------------------------------------------
   役割：
   ・Pulse（瞬間発光）の見た目管理

   ※配置のみ管理
   ※Animationは禁止
   ========================================================== */


/* ========================================
   Flashes
======================================== */

.flashes {

    position: absolute;

    top: 50%;

    left: 50%;

    width: 100%;

    height: 100%;

    transform:
        translate(-50%, -50%);

    opacity: 0;

}
